@import "_mixins";

.btn {
    @include reset-btn();

    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);

    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    @include text-overflow();
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;

    white-space: nowrap;

    &-span {
        background-color: rgb(5, 6, 45);
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
    }
    &:hover,
    &.active {
        outline: 0;
    }
    &:hover,
    &.active {
        span {
            background: none;
        }
    }

    &.active {
        cursor: default;
    }
}
